@import "tailwindcss";

body {
  font-family: "Montserrat Alternates";
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
